
TaylorLayout/.DS_Store
TaylorLayout/Images/.DS_Store
TaylorLayout/Images/america-american-ball-4198.jpg
TaylorLayout/Images/america-american-ball-4198.psd
TaylorLayout/Images/midterm-review-banner.png
TaylorLayout/Images/redskins-food-image1.jpg
TaylorLayout/Images/redskins-food-image2.jpg
TaylorLayout/Images/redskins-food-image4.jpg
TaylorLayout/Images/redskins-food-image3.jpg
TaylorLayout/redskins-food-story.txt
