body{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.headline{
  font-family:serif;
  font-size:24px;
}

.subhead{
  font-family: serif;
  font-size: 18px;
  background-color: #e6510a;
}

#col {
  text-align: center;
}

/*--byline and date style--*/
#byline {
  font-size: 13px;
}

blockquote{
  font: 20px/24px normal helvetica, sans-serif;
  font-style: italic;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 4px solid #ccc;
  color: #e6510a;
}

.related {
  font-style: italic;
  font-size: 14px;
}
